/*=============================1.通用===========================*/
*{
	margin: 0;
	padding: 0;
}

/*=============================2.顶部===========================*/
#top{
	height: 40px;
	background-color:#e3e4e5;
	line-height: 40px;
}

#top .left_nav,#top .right_nav{
	list-style:none;
}

#top .left_nav{
	position: absolute;
	left: 150px;
}

#top .right_nav{
	position: absolute;
	right: 150px;
}

#top .left_nav #sy{
	margin-right:5px;
}

#top .left_nav #dw{
	margin-left:0px;
	position: relative;
}

#top .left_nav li,#top .right_nav li{
	/*设置li标签间距*/
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 10px;
	color:#999;
	font-weight: 100;
}

#top .right_nav span{
	font-size: 10px;
	float: left;
	color:#999;
	font-weight: 100;
}

.left_nav img{
	height: 20px;
	vertical-align: middle;
	
}
/*城市标签样式*/
.city{
	margin: 3px 10px;
	float: left;
	width: 50px;
	height: 25px;
	cursor: pointer;
	text-align: center;
	/*vertical-align: middle;*/
	line-height: 25px;
}

#top .city:hover{
	color: red;
	background-color: rgb(244,244,244);	
}



#top a,#top font{
	vertical-align: middle;
	font-size: 10px;
	color:#999;
	text-decoration: none;
}

#top a:hover{
	color: red;
}

/*.white_li:hover{
	
}*/

#top .left_nav #dw .menu-top{
	position: absolute;
	width: 50px;
	height: 40px;
	padding-left:10px;
	padding-right: 25px;
}


.left_nav #dw .menu_bottom{
	position: absolute;
	height: 250px;
	top: 40px;
	width:350px;
	display: none;
}

#top .white_li:hover .menu-top{
	background-color: white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#top .white_li:hover .menu_bottom{
	display:block;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}



/*=============================3.中间===========================*/






/*=============================4.底部===========================*/
#bottom{
	height: 300px;
	background-color:#e3e4e5;;
}
